@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color:rgb(21 21 21);
    color: white;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d0c8c8;
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

.main .main-child-left{
    top:0;
    left: 0;
    position: fixed;
    padding-top:70px;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: 100vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 999;
}


.main .main-child-left .intro{
    word-wrap: break-word;
}

.main .main-child-left .intro img{
    width:200px;
    height:200px;
    border-radius: 50%;
}

.main .main-child-left .intro h1{
    font-size: 60px;
    font-weight: 900;
}

.main .main-child-left .section-list ul{
    list-style-type: none;
}

.main .main-child-left .section-list ul li{
    transition: transform .1s;
    color: rgb(148 148 149);
}

.main .main-child-left .section-list ul li:hover{
    color: rgb(255, 255, 255);
    transform:scale(1.1);
    cursor: pointer;
}

.main .main-child-left .section-list ul .active{
    color: rgb(255, 255, 255);
    transition: transform .4s;
    transform:scale(1.1);
}

.main .main-child-left .socials{
    word-wrap: break-word;
    font-size: 30px;
}

.main .main-child-right{
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    padding-top:70px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.main .main-child-right .section-header{
    display: none;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.main .main-child-right #section-header.fixed{
    top:0;
    left:0;
    position: fixed;
    z-index: 1000;
    transition:ease-in 1s;
}

.main .main-child-right .projects{
    left: 45vw;
    width: 100%;
    height:auto;
    position: relative;
}

.main .main-child-right .projects .project-item{
    width:100%;
    background-color: rgb(32 32 34);
    margin-bottom: 15px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    transition: transform .5s;
    display: block;
    text-decoration: none;
}

.main .main-child-right .projects .project-item *{
    font-weight: 0;
    background-color: rgb(32 32 34);
}

.main .main-child-right .projects .project-item p{
    color: #909090;
}

.main .main-child-right .projects .project-item:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.main .main-child-right .skills{
    left: 45vw;
    width: 100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main .main-child-right .skills .skills-item-right *{
    background-color: rgb(32 32 34);
}

.main .main-child-right .skills .skills-item-right span{
    font-size: 80px;
}

.main .main-child-right .skills .skills-item-right{
    height: 300px;
    width: 49%;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32 32 34);
}

.main .main-child-right .skills .skills-item-left *{
    background-color: rgb(32 32 34);
}

.main .main-child-right .skills .skills-item-left span{
    font-size: 50px;
}

.main .main-child-right .skills .skills-item-left{
    background-color: rgb(32 32 34);
    height: 300px;
    width: 49%;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .main-child-right .wins{
    left: 45vw;
    width: 100%;
    height:auto;
    position: relative;
}

@media only screen and (max-width: 993px) {
    .main .main-child-left{
        position: absolute;
        padding-top:70px;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 50px;
        height: 80vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .main .main-child-left .intro{
        width: 100%;
        display: contents;
    }

    .main .main-child-left .socials{
        align-self: center;
    }

    .main .main-child-left .section-list{
        display: none;
    }

    .main .main-child-right{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: relative;
        padding-top:80vh;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 50px;
    }

    .main .main-child-right .section-header{
        display: block;
    }

    .main .main-child-right .projects{
        left: 0;
        width: 100%;
        height:auto;
        position: relative;
    }


}

@media only screen and (max-width: 800px) {
    .main .main-child-right .projects .project-item:hover{
        cursor: pointer;
        transform:scale(1);
    }
}

@media only screen and (max-width: 503px) {
    .main .main-child-left .intro h1{
        font-size: 50px;
    }

    .main .main-child-left .intro p{
        align-self: center;
    }

}

@media only screen and (max-width: 426px) {

    .main .main-child-left{
        height: 100vh;
    }
    
    .main .main-child-right{
        padding-top: 100vh;
    }

    .main .main-child-left .intro h1{
        font-size: 40px;
    }

    .main .main-child-left .intro p{
        align-self: center;
    }

    .main .main-child-right .projects .project-item{
        width:100%;
        background-color: rgb(32 32 34);
        margin-bottom: 10px;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        word-wrap: break-word;
        transition: transform .2s;
        display: block;
        text-decoration: none;
    }

}

@media only screen and (max-width: 335px) {
    .main .main-child-left .intro h1{
        font-size: 35px;
    }

    .main .main-child-left .intro p{
        align-self: center;
    }

}

@media only screen and (max-width: 321px) {
    .main .main-child-left .intro h1{
        font-size: 35px;
    }

    .main .main-child-left .intro p{
        align-self: center;
    }

}